body {
    background: url(https://i.pinimg.com/originals/37/44/7e/37447eaa6fe5bc88b9ec29965ce45e12.jpg);
}

h1 {
    text-align: center;
    color: yellow;
}

h2 {
    text-align: center;
    color: royalblue;
}

p {
    color: MidnightBlue;
    text-align: center;
    font-size: 120%;
    text-align: center;
}


a {
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    border: 2px solid royalblue;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 5px 0 0 royalblue;
    color: yellowgreen;
}

img {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: -30px -30px -20px -45px;
}

table{
    text-align: center;
}

table:hover {
    font-size: 45px;
}
