body {
    background: url(https://vgtimes.ru/uploads/posts/2018-12/53631_4_3.jpg);
}

h1 {
    text-align: center;
    color: yellow;
}

h2 {
    text-align: center;
    color: #FF0000;
}

p {
    color: #000000;
    text-align: center;
    font-size: 120%;
    text-align: center;
}


a {
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    border: 2px solid royalblue;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 5px 0 0 royalblue;
    color: yellowgreen;
}

.popit:hover {
    opacity: 1;
    width: 600px;
    height: 500px;
    transition: 0.5s ease-out;
    padding: 5px;
}

img {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: -30px -30px -20px -45px;
}

table{
    text-align: center;
}

table:hover {
    opacity: 1;
    border: 6px solid navy;
    width: 1800px;
    height: 200px;
    transition: 0.5s ease-out;
    padding: 5px;
}

    p:hover{
    color: blueviolet;
    background-color: lightyellow;
    transition: 1.5s ease-in;
}

    h1:hover{
    color: yellow;
    background-color: lightyellow;
    transition: 1.5s ease-in;
}

    h2:hover{
    color: yellow;
    background-color: lightyellow;
    transition: 1.5s ease-in;
}
